:root {
  --background: #e8f5fd;
  --header_background: #cbebff;
  --card: #76c4f596;
  --text_color: #145480;
  --title_color: #004472;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  color: var(--text_color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header_background);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.non-ordering-based-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
}

h1 {
  margin: 12px;
  color: var(--title_color);
}

h2 {
  margin: 4px;
  color: var(--title_color);
}

h3 {
  margin: 4px;
  color: var(--title_color);
}

h4 {
  margin: 4px;
  color: var(--title_color);
}

p {
  margin: 8px;
  color: var(--text_color);
}

ul {
  padding-left: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 6px;
  border: 1px;
  border-radius: 4px;
  background-color: var(--header_background);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ordering-based-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  max-height: 500px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 4px;
  margin-top: 8px;
  background-color: var(--card);
  margin-bottom: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.left-section {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--header_background);
  border: 1px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.matrix {
  margin-left: -50px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.middle-section {
  margin-top: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: start;
}

.info-box {
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--header_background);
  margin-bottom: 12px;
  flex-grow: 1;
}

.feature-box {
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--header_background);
  padding: 4px;
}

.right-section {
  margin-top: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: var(--header_background);
}

.graphical-box {
}
